* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kodchasan;
  }
  
  nav {
    width: 100vw;
    height: 13vh;
    flex-shrink: 0;
    background: #5caf74;
    color: #2b5739;
    display: flex;
    justify-content: space-between;
    padding: 0px 2vw;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27vw;
  }
  
  .image {
    height: 75%;
    width: 4rem;
    background-color: grey;
  }
  
  .links {
    width: 63vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    transition: font-size 0.3s ease-in-out;
  }
  
  .links:hover {
      cursor: pointer;
      font-size: 1.2rem;
  }