.input-main {
    margin-top: 40vh;
    padding: 0px 43%;
  }
  
  .input-main label {
  
  }
  
  .search-bar {
    background-color: white;
    border: 1px solid black;
    height: 3rem;
    width: 30vw;
    border-radius: 1rem;
    padding: 6px;
    margin-top: 11px;
  }