@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body    
{
    /* display: flex; */
    font-family: 'poppins';
}

.dashboard-header
{
    background-color: antiquewhite;
    width: 80vw;
    height: 6vw;
    margin: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    /* border: 1vw; */
}

.dashboard-icon
{
    padding-right: 2vw;
    padding-left: 2vw;
    /* margin-top: 1.5vw; */
    width: 2vw;
    height: 100vw;
    background-color: rgb(59, 167, 59);
}


.dashboard-icon i
{
    font-size: 2vw;
    margin-top: 2vw;
    color: white;
}

.dashboard-logo
{
    width: 2%;
    padding-left: 3vw;

}

.dashboard-logo img
{
    width: 12vw;
    margin-top: 1.6vw;
}

.time
{
    padding-left: 40vw;
    line-height:  0px;
    font-size: 1.1vw;
    text-align: center;
    /* font-weight: 200; */

}

.time h3
{
    margin-top: 2.1vw;
    font-weight: 300;
}

.time h4
{
    transform: translate(0vw,-1vw);
    font-weight: 200;
}


.dashboard-notification
{
    padding-left: 8vw;
}

.dashboard-notification i
{
    font-size: 2vw;
    margin-top: 1.6vw;
}

.dashboard-pfp
{
    width: 2vw;
    background-color: rgb(38, 152, 152);
    height: 4vw;
    padding-left: 2vw;
    border-radius: 20vw;
    margin-top: 0.8vw;
    margin-left: 3vw;
}

/* SIDE BAR */

.dashboard-sideBar
{
    width: 6vw;
    height: 85vh;
    background-color:rgb(12, 112, 27) ;
    border-bottom-right-radius: 2vw;
}

.icns
{
    color: white;
    /* margin-left: 1vw; */
    /* padding-top: 2vw; */
    text-align: center;
    justify-content: center;

}

.icns i
{
    padding-top: 5vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.homeIcn
{

}

.settingsIcn
{

}

.askIcn
{

}


.logOut
{
    color: white;
    padding-top: 10vw;
}


.lowerBody
{
    display: flex;
    flex-direction: column;
    /* display: none; */
}

/* First COlumn */
.firstCol
{
    width: 22vw;
    height: 84.6vh;
    background-color: rgb(250, 245, 245) ;
    display: flex;
    flex-direction: column; 
    margin-left: 6vw;
    margin-top: -38.95vw;
    overflow: hidden;
    
}

.firstCol-Img
{
    /* margin-left: 1vw; */
    
}

.firstCol img
{
    width: 100%;
    /* height: 30vh; */
    /* border-radius: 2vw; */
    
}

.firstCol-TodayWeather .firstText
{
    font-size: 1vw;
    margin-left: 2vw;
    font-weight: 400;

    transform: translate(0vw,-0.5vw);
}

.firstCol-TodayWeather-DayDate
{
    display: flex;
    flex-direction: row;
}

.firstCol-TodayWeather-DayDate .Day
{
    font-size: 1.8vw;
    color:rgb(72, 176, 102);
    margin-left: 2vw;
    transform: translate(0vw,-4vw);
}

.firstCol-TodayWeather-DayDate .Date
{
    font-size: 1vw;
    /* color:rgb(38, 152, 70); */
    margin-left: 1vw;
    font-weight: 200;
    transform: translate(0vw,-2.2vw);
}

.CurrWeather
{
    /* display: flex; */
    flex-direction: row;
    transform: translate(0vw,-6vw);
    overflow: hidden;
    
}

.CurrWeather i
{
    font-size: 4vw;
    margin-left: 2vw;
    color: rgb(223, 186, 61);
}

.CurrWeather h1
{
    font-size: 3.5vw;
    transform: translate(0vw,-7.3vw);
    font-weight: 300;
    margin-left: 7vw;
    /* margin-top: 0vw; */
}

.CurrWeather h3
{
    transform: translate(0vw,-13.5vw);
    font-size: 1vw;
    margin-left: 7.3vw;
    font-weight: 300;
    margin-top: 1vw;
}

.CurrWeather h4
{
    transform: translate(0vw,-16vw);
    margin-left: 13vw;
    font-size: 0.8vw;
    font-weight: 200;
    margin-top: 1.2vw;
}

.otherdetailsWeather
{
    display: flex;
    flex-direction: row;
    transform: translate(0vw,-21.5vw);
}

.otherdetailsWeather i
{
    /* padding: 0.7vw; */
    font-size: 0.9vw;
    margin-left: 2vw;

}

.divider
{
    transform: translate(0vw,-21vw);
}

.firstCol-WeatherForecast
{
    transform: translate(0vw,-23vw);
}

.firstCol-WeatherForecast .text1 
{
    margin-top: 2vw;
    margin-left: 2vw;
}

.firstCol-WeatherForecast .text1 h3
{
    font-size: 1vw;
    font-weight: 500;
}

.firstCol-WeatherForecast .text2
{
    font-size: 1vw;
    margin-left: 2vw;
    background-color: rgb(72, 176, 102);
    width: 8vw;
    text-align: center;
    border-radius: 2vw;
    margin-top: -0.5vw;
    
}

.firstCol-WeatherForecast .text2 h3
{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.part2 .rightpart i 
{
    color:  rgb(223, 186, 61);
    font-size: 3vw;
    margin-left: 2vw;
}

.part2 .leftpart
{
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
    margin-top: -4vw;
    line-height: 0px;
}

.part2 .leftpart h3
{
    font-size: 2vw;
    font-weight: 200;
}

.part2 .leftpart h4
{
    font-weight: 400;
    font-size: 1vw;
    margin-top: -0.2vw;
    margin-left: 0.1vw;
}

.part2 .leftpart h5
{
    font-weight: 400;
    font-size: 0.8vw;
    margin-top: -1.4vw;
    margin-left: 2vw;
}

.thirdSection i 
{
    font-size: 0.8vw;
    margin-left: 2vw;
    margin-top: 1.5vw;
    transform: translate(0vw,-1vw);
}

/* Second Column */
.secondCol
{
    background-color: rgb(250, 245, 245);
    width: 35.5vw;
    height: 84.7vh;
    margin-left: 28vw;
    transform: translate(0vw,-39.8vw);
    position: fixed;
    margin-top: 14px;
}

.secondCol h3
{
    font-size: 1.8vw;
    font-weight: 500;
    padding-top: 0.05vw;
    padding-left: 2vw;
    /* margin-top: 5vw; */
    margin-left: 2vw;
}

.currentTask h4
{
    font-size: 1.2vw;
    margin-left: 4vw;
    margin-top: -1vw;
    font-weight: 400;
}

.task1
{
    width: 32vw;
    border-radius: 2vw;
    height: 5vw;
    margin-left: 2vw;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
    }

.timeleft-1
{
    width: 4vw;
    height: 4vw;
    background-color: rgb(238, 89, 89);
    margin-left: 1vw;
    border-radius: 1vw;
    transform: translate(0,0.4vw);
    overflow: hidden;
    line-height: -0;
}

.timeleft-1 h1
{
    color: white;
    font-size: 1.5vw;
    margin-top: 1.4vw;
    text-align: center;
}

.timeleft-1 h2
{
    font-size: 0.9vw;
    text-align: center;
    margin-top: 0.3vw;
    color: white;
}

.task2
{
    width: 32vw;
    border-radius: 2vw;
    height: 5vw;
    margin-left: 2vw;
    margin-top: 1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

.description-task1 h4
{
    font-size: 1vw;
    padding-left: 2vw;
    /* margin-top: 1vw; */
    margin-top: -3vw;
}

.timeleft-2
{
    width: 4vw;
    height: 4vw;
    background-color: rgb(72, 176, 102);
    margin-left: 1vw;
    border-radius: 1vw;
    transform: translate(0,0.4vw);
    overflow: hidden;
    line-height: -0;
}

.timeleft-2 h1
{
    color: white;
    font-size: 1.5vw;
    margin-top: 1.4vw;
    text-align: center;
}

.timeleft-2 h2
{
    font-size: 0.9vw;
    text-align: center;
    margin-top: 0.3vw;
    color: white;
}

.description-task2 h4
{
    font-size: 1vw;
    padding-left: 2vw;
    /* margin-top: 1vw; */
    margin-top: -3vw;
}

.cropstext 
{
 
}

.secondCol h6{
    display: flex;
    text-align: center;
    font-size: 1.8vw;
    font-weight: 500;
    padding-left: 20vw;
    margin-top: -212px;
    margin-left: 2vw;
}

/* Third Column */
.thirdCol
{
    background-color: #faf5f5;
    width: 35.5vw;
    height: 84.7vh;
    margin-left: 63vw;
    transform: translate(0vw,-39.8vw);
    position: fixed;
    margin-top: 14px;
}



.crops{
    width: 170px;
    background-color: white;
    border-radius: 28px;
    height: 170px;
    margin-top: -15px;
    margin-left: 37px;
}

.Harvest{
    width: 170px;
    background-color: white;
    border-radius: 28px;
    height: 170px;
    margin-top: -44px;
    margin-left: 244px;
}

/*----------------*/

#donut-chart-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
  }
  
  #donut-chart {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 16px;
    margin-left: -3px;
    transform: translate(-50%, -50%);
  }


  .thirdCol h1{
    font-size: 1.8vw;
    font-weight: 500;
    padding-top: 0.05vw;
    padding-left: 2vw;
    /* margin-top: 5vw; */
    margin-left: 2vw;
  }
 
  .production-details{
    
  }
  .chart-production{
    width: 426px;
    height: 239px;
    margin-left: 5px;
    margin-top: -16px;
  }

  


  .thirdCol h2{
    font-size: 1.8vw;
    font-weight: 500;
    padding-top: 0.05vw;
    padding-left: 2vw;
    margin-top: -13px;
    margin-left: 1vw;
  }

  .financial-statistics{
   
  }


.Harvest h1{
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: -13px;
    margin-left: 1vw;
}

  .progress-bar-wheat{
    width: 80%;
    height: 22px;
    background-color: #f1f1f1;
    border-radius: 89px;
    margin: -8px auto;
}

.progress-wheat{
    height: 100%;
    background-color: #4caf50;
    border-radius: 67px;
    text-align: center;
    color: white;
}

.Harvest h2{
    font-size: 15px;
    font-weight: 500;
    padding-top: 9px;
    padding-left: 5px;
    margin-top: 2px;
    margin-left: 1vw;
}

  .progress-bar-maize{
    width: 80%;
    height: 22px;
    background-color: #f1f1f1;
    border-radius: 89px;
    margin: -8px auto;
}

.progress-maize{
    height: 100%;
    background-color: #fed401;
    border-radius: 67px;
    text-align: center;
    color: white;
    margin-top: 10px;
}


.Harvest h3{
    font-size: 15px;
    font-weight: 500;
    padding-top: 9px;
    padding-left: 5px;
    margin-top: 2px;
    margin-left: 1vw;
}

  .progress-bar-onion{
    width: 80%;
    height: 22px;
    background-color: #f1f1f1;
    border-radius: 89px;
    margin: -8px auto;
}

.progress-onion{
    height: 100%;
    background-color: #d3b20ecf;
    border-radius: 67px;
    text-align: center;
    color: white;
    margin-top: -13px;
}